/* about start*/
* {
  font-family: "Nanum Gothic", sans-serif;
}

body {
  background-image: url("../img/8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;
}
.container {
  position: absolute;
  background-color: rgba(14, 10, 10, 0.925);
  color: rgb(106, 113, 117);
  width: 50%;
  height: 100%;
  right: 0;
  padding-top: 7rem;
}
h3,
h6 {
  color: #f32c2c;
  padding: 0.7rem;
  font-weight: bold;
}

.hours li {
  padding: 0.6rem 0;
  list-style: none;
  list-style-position: outside;
}

span {
  color: #f32c2c;
  padding-right: 3rem;
  padding-left: 0;
  margin-left: 0;
}
p {
  padding-left: 0.7rem;
  padding-bottom: 1rem;
}

.book h5,
.book p {
  padding-top: 1rem;
  padding-left: 0;
  font-weight: bold;
}
h5 {
  color: aliceblue;
  padding-top: 4rem;
  font-weight: bold;
}
.table a {
  text-decoration: none;
  background-color: #f32c2c;
  font-weight: bold;
  color: aliceblue;
  padding: 0.5rem 0.8rem;
  border-radius: 0.1rem;
}

.table {
  margin-top: 1.5rem;
}

/* about*/

.navbar {
  background-color: rgba(0, 0, 0, 0.9) !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-dark .navbar-brand {
  font-size: 2rem;
  color: #d6d6d6;
  font-weight: 700;
}
.navbar-dark .navbar-brand span {
  color: #f32c2c;
  padding: 0rem 0.2rem;
}
.navbar-nav {
  font-weight: 300;
}
.navbar-nav .nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
}
